cupy==14.0.1
fast_pytorch_kmeans==0.2.2
geotorch==0.3.0
Imath==0.0.2
matplotlib==3.10.9
mitsuba==3.8.0
numpy==2.4.4
OpenEXR==3.4.11
pandas==3.0.2
Pillow==12.2.0
pot==0.9.6.post1
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.1
setuptools==70.2.0
tensorflow==2.21.0
tensorflow_gan==2.1.0
torch==2.8.0+cu129
torchvision==0.23.0+cu129
tqdm==4.67.1
wandb==0.26.1